{% extends 'static_base.html' %}
{% block 'header' %}
{% endblock %}
{% block 'content' %}
<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center mb-5">Acerca de Inmobiliaria Plus</h1>
        <p class="text-justify mt-3">
          Inmobiliaria Plus es una empresa recientemente establecida en el mercado inmobiliario chileno. Nos enorgullece ofrecer servicios de alta calidad y soluciones innovadoras para aquellos que buscan comprar, vender o arrendar propiedades en la hermosa comuna de Providencia, Santiago.
        </p>
        <p class="text-justify">
          Nuestro equipo está compuesto por profesionales altamente capacitados y apasionados por el sector inmobiliario. Nos esforzamos por brindar un servicio personalizado y transparente a cada uno de nuestros clientes, ayudándolos a alcanzar sus objetivos inmobiliarios de manera eficiente y efectiva.
        </p>
        <p class="text-justify">
          En Inmobiliaria Plus, entendemos la importancia de encontrar el hogar perfecto o la inversión adecuada. Por eso, nos comprometemos a guiar a nuestros clientes en cada paso del proceso, desde la búsqueda inicial hasta la firma del contrato y más allá.
        </p>
        <p class="text-justify">
          ¡Bienvenido a Inmobiliaria Plus, donde encontrarás más que una propiedad, encontrarás tu hogar!
        </p>
      </div>
    </div>
  </div>
{% endblock %}