{% extends 'static_base.html' %}
{% block 'header' %}
{% endblock %}
{% block 'content' %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Mi Perfil</h2>
            <hr>
            <h3>Datos Personales</h3>
            <ul>
                <li><strong>Nombre:</strong> {{ user.nombres }}</li>
                <li><strong>Apellidos:</strong> {{ user.apellidos }}</li>
                <li><strong>RUT:</strong> {{ user.rut }}</li>
                <li><strong>Dirección:</strong> {{ user.direccion }}</li>
                <li><strong>Teléfono:</strong> {{ user.telefono }}</li>
                <li><strong>Correo Electrónico:</strong> {{ user.correo_electronico }}</li>
                <li><strong>Tipo de Usuario:</strong> {{ user.get_tipo_usuario_display }}</li>
            </ul>
            <hr>
            <a href="{% url 'modificar_usuario' %}" class="btn btn-primary mb-3">Modificar Datos</a>
            {% if user.is_arrendador %}
            <a href="{% url 'lista_inmuebles' %}" class="btn btn-secondary mb-3">Mis Inmuebles</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}